* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.login {
  display: block;
  margin: 2rem 25%;
  padding: 1rem;
  /* height: 400px; */
  background-color: rgb(0, 204, 255);
  border: 2px solid rgb(25, 29, 29);
  border-radius: 4px;
  box-shadow: 0 10px 12px 4px rgb(65, 166, 191);
}
.login label {
  font-size: 24px;
  font-weight: bold;
}
.login span {
  color: rgb(179, 45, 45);
}
.login input[type=text], .login input[type=password], .login button[type=button], .login button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgb(0, 204, 255);
  border-radius: 3px;
  outline: none;
}
.login .dflex1 {
  display: flex;
  gap: 1rem;
}
.login .dflex1 #bgGreen {
  background-color: green;
}
.login .dflex1 #bgGreen:hover {
  background-color: #29ea30;
}
.login .dflex1 #bgRed{
  background-color: rgb(163, 61, 61);
}
.login .dflex1 #bgRed:hover{
  background-color: rgb(222, 9, 9);
}
@media (min-width:360px) and (max-width:600px) {
  .login {
    display: block;
    margin: 0.8rem 10%;
    padding: 0.8rem;
    box-shadow: none;
  }
  .login label {
    font-size: 16px;
    font-weight: bold;
  }

  .login .dflex1 {
    display: block;
    gap: 0.8rem;
  }
}